#realm
  %h2#me I'm Zaiste - a polyglot coder & technologist
  %br/
  %p
    I help companies & brands
    %strong.bolded kick ass
    in the digital realm by providing them with
    %strong.bolded cutting-edge
    technology solutions.
  %br/
  %p
    I'm a technology consultant, currently in Berlin, and a cofounder of
    = link_to 'Nukomeet.', 'http://nukomeet.com'
    Read our 
    = link_to 'Company Manifesto.', 'http://nukomeet.com/2012/03/can_we_hack_the_company_model/'
    Previously I was serving as a CTO at
    %a{:href => "http://synergiaplus.com"} Synergia PLUS
    where I helped build some financial « stuff ». 
  %p 
    I also founded
    %a{:href => "http://rupy.eu"} RuPy Conf
    which brings together two great, state-of-the-art programming languages and its related technologies.
  %p I'm experienced in banking industry. I've been involved in various projects related to E-Banking.
  %p
    I studied Computer Science (Artificial Intelligence) at
    %a{:href => "http://amu.edu.pl"} Adam Mickiewicz Univeristy
    \&
    = succeed "," do
      %a{:href => "http://www.u-psud.fr/"} Paris-Sud 11 University
    and Digital Business at
    %a{:href => "http://hec.fr"} HEC Paris
    \&
    = succeed "." do
      %a{:href => "http://www.telecom-paristech.fr/"} Télécom ParisTech
  %p
    If you want to get in touch, use
    = succeed "," do
      %a{:href => "mailto:oh@zaiste.net"} email
    = succeed "," do
      %a{:href => "http://github.com/zaiste"} GitHub
    %a{:href => "http://twitter.com/zaiste"} Twitter
    or
    = succeed "." do
      %a{:href => "http://linkedin.com/in/zaiste"} LinkedIn
  %p
    This site is built using
    = succeed "." do
      %a{:href => "http://nanoc.stoneship.org/"} Nanoc
