!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title 
      Zaiste! Realm ::  
      = @item[:title]
      
    %link{:href => "/stylesheets/bootstrap.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/stylesheet.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/code.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Varela", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "nanoc 3.3.3", :name => "generator"}/
  %body
    #header
      %ul#nav
        %li= link_to '&nbsp; λ .', '/flux/'
        %li= link_to '&nbsp; AFFAIR\'Z .', '/affairz/'
        %li= link_to '&nbsp; ME .', '/'
    .content
      = yield 

    = render('_ganalytics') 
